<div>
<h1 class="md-heading">Architecture</h1>
<p>
The starter-app is structured as follows:
</p>
<div class="arch">
<pre>
<span>
---<a href="">app/</a>
</span>
<span>
--------<a href="">assets/</a>----------------<i>#image and svg folders</i>
</span>
<span>
------------<a href="">svg/</a>
</span>
<span>
----------------<a href="">angular-logo.svg</a>
</span>
<span>
----------------<a href="">menu.svg</a>
</span>
<span>
------------<a href="">vscode.gif</a>
</span>
<span>
------------<a href="">washedout.gif</a>
</span>
<span>
--------<a href="">src/</a>----------------<i>#class libraries</i>
</span>
<span>
------------<a href="">components/</a>------------<i>#app components</i>
</span>
<span>
----------------<a href="">main-content/</a>
</span>
<span>
--------------------<a href="">main-content-ctlr/</a>
</span>
<span>
-------------------------<a href="">dashboard.ctlr.js</a>
</span>
<span>
--------------------<a href="">main-content-tpl/</a>
</span>
<span>
-------------------------<a href="">dashboard.html</a>
</span>
<span>
-------------------------<a href="">architecture.html</a>
</span>
<span>
-------------------------<a href="">contact.html</a>
</span>
<span>
------------------------------<a href="">gettingstarted.html</a>
</span>
<span>
------------------------------<a href="">more.html</a>
</span>
<span>
------------------------------<a href="">portofolio.html</a>
</span>
<span>
------------------------------<a href="">tile.html</a>
</span>
<span>
--------------------<a href="">mainContent.ctlr.js</a>
</span>
<span>
----------------<a href="">side-nav/</a>
</span>
<span>
--------------------<a href="">sideNav.cmpt.js</a>
</span>
<span>
--------------------<a href="">sideNav.ctlr.js</a>
</span>
<span>
--------------------<a href="">sideNav.tpl.html</a>
</span>
<span>
----------------<a href="">tool-bar/</a>
</span>
<span>
--------------------<a href="">toolBar.cmpt.js</a>
</span>
<span>
--------------------<a href="">toolBar.ctlr.js</a>
</span>
<span>
--------------------<a href="">toolBar.tpl.html</a>
</span>
<span>
-------------<a href="">directives/</a>-------<i>#app directives</i>
</span>
<span>
----------------<a href="">menu-toogle/</a>   
</span>
<span>
--------------------<a href="">menuLink.dir.js</a>
</span>
<span>
--------------------<a href="">menuLink.tpl.html</a>
</span>
<span>
--------------------<a href="">menuToggle.dir.js</a>
</span>
<span>
--------------------<a href="">menuToggle.tpl.html</a>
</span>
<span>
--------------<a href="">services/</a>----------<i>#app services</i>
</span>
<span>
----------------<a href="">config.srv.js</a> 
</span>
<span>
----------------<a href="">menu.srv.js</a> 
</span>
<span>
-------------<a href="">components.js</a>----------<i>#setting up components to angular module</i>
</span>
<span>
-------------<a href="">controllers.js</a>--------<i>#setting up controllers to angular module</i>
</span>
<span>
-------------<a href="">directives.js</a>----------<i>#setting up directives to angular module</i>
</span>
<span>
-------------<a href="">services.js</a>------------<i>#setting up services to angular module</i>
</span>
<span>
-------------<a href="">main.js</a>---------------  <i>#main app controller, setting up app config</i>
</span>
<span>
--------<a href="">styles/</a>  
</span>
<span>
-------------<a href="">main.css</a>
</span>
<span>
--------<a href="">boot.js</a>----------------------<i>#bootstraping app</i>
</span>
<span>
----<a href="">app.js</a>
</span>
<span>
----<a href="">gulpfile.js</a>
</span>
<span>
----<a href="">index.html</a>
</span>
<span>
----<a href="">package.json</a>
</span>
<span>
----<a href="">README.md</a>
</span>


</pre>
</div>
</div>
