<div layout-padding layout="column">
    <h1 class="md-heading">Dashboard</h1>
    <div layout="row" layout-xs="column">
        <canvas flex-gt-xs="50" id="line" class="chart chart-line" chart-data="vm.data" 
            chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
            chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick()">
        
         </canvas> 
         <div flex-gt-xs="50" class="lorem-list" flex layout-padding>
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint voluptatum autem quas aliquid quaerat,7
              aut distinctio at nemo minima, iusto. Corrupti maxime vel quis, harum, rem quo nesciunt accusantium delectus!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sequi nostrum rerum incidunt sed! Est dignissimos harum sunt,
               suscipit obcaecati assumenda quaerat, quibusdam fugit eos consequuntur voluptatem aliquam quam beatae?
               <ul>
                   <li> Lorem ipsum dolor</li>
                   <li>consectetur adipisicing</li>
                   <li>obcaecati assumenda quaerat</li>
                   <li>fugit eos consequuntur</li>
                   <li>voluptatem aliquam quam </li>
               </ul>
         </div>
    </div>
    
    <div flex layout="column" layout-gt-xs="row" flex-gt-xs="25" >
      <md-card>
        <img ng-src="app/assets/washedout.png" class="md-card-image" alt="Washed Out">
        <md-card-actions layout="row" layout-align="center center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img ng-src="app/assets/washedout.png" class="md-card-image" alt="Washed Out">
        <md-card-actions layout="row" layout-align="center center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img ng-src="app/assets/washedout.png" class="md-card-image" alt="Washed Out">
        <md-card-actions layout="row" layout-align="center center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <img ng-src="app/assets/washedout.png" class="md-card-image" alt="Washed Out">
        <md-card-actions layout="row" layout-align="center center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
</div>
