<h1 class="md-heading">GETTING STARTED</h1>

<div class="">
    <p class="intro">
        New to angularJS ? This is a starter app mounted in ES6 style.
         A detail archetecture easily personnalisable. <br>
         You're invited to improve the repository! <font size="23">☺</font>
    </p>
    <p>
        What you need to know
        <ul class="need-to-kow">
            <li><a href="http://es6-features.org/" >ES6 syntaxes</a></li>
            <li><a href="https://docs.angularjs.org">Notion of angularJS framework</a></li>
            <li><a href="https://material.angularjs.org">Notion of angular-material framework</a></li>
            <li><a href="https://medium.com/@erwan.datin/angular-1-5-component-in-es6-my-way-to-write-it-as-near-as-possible-as-an-angular2-component-b0bbd9f6ffaa#.ephgknjmh">Notion of components</a></li>
            <li><a href="https://medium.com/@erwan.datin/angular-1-5-component-in-es6-my-way-to-write-it-as-near-as-possible-as-an-angular2-component-b0bbd9f6ffaa#.ephgknjmh">Notion of directives</a></li>
        </ul>
    </p>
    <p>
        Just to fill this page with some stuff i'm going to present <br> you my sweet IDE, my bae VS Code! (1.7.2) 
    </p>
    <img class="vs-code-gif " ng-src="app/assets/vscode.gif" alt="vs-code-gif"/>
</div>